<p>form works!</p>
<div class="card one">
    <div class="card-body">
        <form [formGroup]="profile">
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label"><strong>To List Add</strong></label>
              <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" formControlName="name">
            </div>
            <div class="d-grid gap-2">

     <button type="submit" class="btn btn-warning" (click)="add()">ADD</button>
            </div>
          </form>
    </div>
  </div>